##############################################################
#
# List of approvers/reviewers for Terraform Analyzer
#
##############################################################

#all code
*@klaus82
